<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: head">
  <title>ADMIN New Consultorio</title>
</head>

<div th:insert="fragments :: nav"></div>

<body class="vh-100">

<div class="container d-flex h-100 m-auto justify-content-center align-items-center">

  <div class="card w-50">
    <div class="card-header">
      <h5 class="card-title">Nuevo Consultorio</h5>
    </div>
      <div class="card-body">
        <form class=" m-auto w-50" th:action="@{/creatCita}" method="post">

          <div class="my-3">
            <label class="form-label" for="paciente">Pacientes</label><br>
            <input class="form-control-plaintext" readonly name="paciente" id="paciente" th:text="${paciente.nombre}+' '+${paciente.apellido} " th:value="${paciente.documento}" >
          </div>

          <div class="my-3">
            <label class="form-label" for="medico">Medico</label><br>
            <input  class="form-control" required name="medico" id="medico" list="medicos">


            <datalist id="medicos">
              <option th:each="medicos: ${medicos}" th:text="${medicos.nombre} +' '+ ${medicos.apellido}" th:value="${medicos.documento}"></option>
            </datalist>
          </div>

          <div class="my-3">
            <label class="form-label" for="consultorio">Consultorio</label><br>
            <input  class="form-control" required name="consultorio" id="consultorio" list="consultorios" >


            <datalist id="consultorios">
              <option th:each="consultorios: ${consultorios}" th:text="${consultorios.municipio.nombre}" th:value="${consultorios.id}"></option>
            </datalist>
          </div>

          <div class="mb-3">
            <label for="fechaHora">Fecha</label>
            <input required type="datetime-local" id="fechaHora"
                   name="fechaHora" th:value="${citaFechas}">
          </div>

            <button type="submit" class="btn btn-success btn-block" >Crear</button>
            <a class="btn btn-primary btn-block" th:href="@{/viewCitas}">Regresar</a>

        </form>
      </div>
    </div>
  </div>
<div th:insert="fragments :: scripts"></div>
</body>
</html>