<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: head">
  <title>HOME</title>
</head>
<body class="vh-100" style="background-color: grey">

<nav class="navbar navbar-dark navbar-expand-lg bg-dark"  style="height: 10vh; position: sticky; top: 0">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">USCO Salud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" th:href="@{/index}">HOME</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link active" th:href="@{/viewMedicos}">Listas</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','MEDICO','PACIENTE')">
          <a class="nav-link" th:href="@{/viewCitas}">Citas</a>
        </li>
      </ul>
      <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
        Iniciar Sesión
      </a>
      <form class="d-flex" role="search"  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger" type="submit">Salir</button>
      </form>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh">
  <form class="bg-white p-2 rounded" style="width: 50%" method="post" th:action="@{/enviarDiagnostico}">

    <div class="container">  <!--Recomendaciones-->
      <label for="idCita" class="form-label">N Cita</label>
      <input readonly type="text" class="form-control-plaintext" id="idCita" name="idCita" th:value="${cita.id}">
    </div>

  <div class="mb-3">  <!--Recomendaciones-->
    <label for="diagnostico" class="form-label">Diagnostigo</label>
    <textarea required class="form-control" id="diagnostico" name="diagnostico" ows="5" th:field="${cita.diagnostico}"></textarea>
  </div>

  <div class="mb-3">  <!--Recomendaciones-->
    <label for="recomendaciones" class="form-label">Recomendaciones</label>
    <textarea  required type="text" class="form-control" id="recomendaciones" name="recomendaciones" rows="5" th:field="${cita.recomendaciones}"></textarea>
  </div>

  <div class="container mb-3">   <!--Medicamentos-->
    <div th:each="medicamentosList: ${medicamentosList}" class="form-check">
      <label class="form-check-label" id="mendicamento" >
      <input class="form-check-input" type="checkbox" name="medicamento" id="medicamento"
             th:value="${medicamentosList.id}"
             th:text="${medicamentosList.nombre}">
      </label>
    </div>
  </div>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
<div th:insert="fragments :: scripts"></div>
</body>
</html>