<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
  <title>USCO Salud</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand"  th:href="@{/index}">USCO SALUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')">
          <a class="nav-link" th:href="@{/viewMedicos}">Listas</a>
        </li>
        <li class="nav-item dropdown active" sec:authorize="isAuthenticated() && hasAuthority('ADMIN')">
          <a class="nav-link" th:href="@{/viewCitas}" >Citas</a>
        </li>
      </ul>

      <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesión</button>
      </a>

      <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"> Cerrar Sesión</button>
      </form>

    </div>
  </nav>
</div>


<div th:fragment="scripts">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</div>
</body>
</html>