<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: head">
  <title>HOME</title>
</head>
<body class="vh-100" style="background-color: grey;">

<nav class="navbar navbar-dark navbar-expand-lg bg-dark"  style="height: 10vh; position: sticky; top: 0">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">USCO Salud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/index}">HOME</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" th:href="@{/viewMedicos}">Listas</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','MEDICO','PACIENTE')">
          <a class="nav-link" th:href="@{/viewCitas}">Citas</a>
        </li>
      </ul>
      <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
        Iniciar Sesión
      </a>
      <form class="d-flex" role="search"  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-danger" type="submit">Salir</button>
      </form>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center" style="height: 50vh">
  <div style="height: fit-content;" class="w-70 p-5 rounded bg-white">
    <h1 class="display-4" sec:authorize="!isAuthenticated()">Debes iniciar sesión</h1>
    <h1 class="display-4" sec:authorize="isAuthenticated()">Hola <span th:text="${usuario.nombre}+' '+${usuario.apellido} "></span></h1>
    <p class="lead">Es un placer que estes de nuevo con nosotros en USCO SALUD endtidad de Salud</p>
  </div>
</div>
<div th:insert="fragments :: scripts"></div>
</body>
</html>